.slibloque-1{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}
.slibloque-general{
    padding-top: 3rem;
    max-width: 1250px;
    gap: 1rem;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
}
@media (max-width: 1090px){
    .slibloque-1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
    }
  }
  @media (max-width: 500px){
    .slibloque-1{
        grid-template-columns: repeat(1, 1fr);
    }
  }
  @media (max-width: 300px){
    .slibloque-1{
        grid-template-columns: repeat(1, 1fr);
    }
  }